/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header, main, footer  {
    width: 100%;
}

:root {
    --color-primary: #01203F;
    --color-secondary: #C06835;
    --color-complementary: #C6936C;
    --color-white: #F3F5F7;
}

body {
    background-color: var(--color-white);
    font-family: "Space Mono", serif;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--color-primary);
}

/* TRANSITION */
a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

nav,
.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-color: var(--color-primary);
}

.nav-links li {
    padding: 10px;
    margin: 0 10px;
}

.nav-links a {
    color: var(--color-white);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--color-complementary);
    text-decoration: underline;
    text-underline-offset: 15px;
}

.logo-name {
    color: var(--color-white);
    padding: 10px;
    margin: 0 10px;
    font-size: 24px;
}

/* SECTIONS */
section {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    height: fit-content;
}

.section-text-p1 {
    padding-top: 20px;
    text-align: center;
    color: var(--color-primary);
}

.title {
    text-align: center;
    color: var(--color-secondary);
    font-size: 50px;
}

/* PROFILE SECTION */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 100%;
}
.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    gap: 25px;
    margin-bottom: 50px;
}

.profile-pic img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
}

.profile-text {
    width: 450px;
    align-self: center;
    text-align: center;
    color: var(--color-white);
}

.profile-text p {
    color: var(--color-white);
}

.profile-subtitle {
    font-size: 30px;
    margin-bottom: 15px;
}

/* ICONS */
.btn-container,
.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icon-btn {
    cursor: pointer;
    font-size: 35px;
    transition: all 300ms ease;
    margin-top: 15px;
}
.icon-btn:hover {
    color: var(--color-complementary);
}

/* BUTTONS */
.btn {
    font-weight: 600;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    color: var(--color-primary);
}

.btn:hover {
    cursor: pointer;
    border: none;
    background-color: var(--color-complementary);
}

/* ABOUT SECTION */
.text-container {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    padding-top: 15px;
}
.text-container p {
    width: 70%;
    text-align: justify;
}

/* TECHNOLOGIES */
#technologies h2 {
    text-align: center;
    color: var(--color-secondary);
    font-size: 35px;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
    width: 70%;
    padding: 15px;
    margin: 0 auto;
}

.tech-info {
    align-content: center;
    text-align: center;
    justify-self: center;
    border: 1px solid rgba(0,0,0, .125);
    border-radius: 5px;
    width: 190px;
    height: 190px;
    padding: 0 7px;
    box-shadow: 0 0 7px rgba(0,0,0, .1);
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease-out;
}

.tech-info:hover {
    background-color: var(--color-primary);
}

.tech-info:hover * {
    color: var(--color-white);
}

.tech-info i {
    font-size: 40px;
    color: var(--color-primary);
}

.tech-info h3 {
    font-size: 20px;
    color: var(--color-primary);
    margin: 7px 0;
}

/* PORTFOLIO SECTION */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 70%;
    row-gap: 30px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0;
}

.project-box {
    position: relative;
    background-color: var(--color-primary);
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0, .1);
    transition: all 0.5s ease-in-out;
}

.project-box:hover {
    transform: scale(1.1);
}

.project-name {
    text-align: center;
    align-self: center;
    color: var(--color-white);
}
.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.project-description p {
    color: var(--color-white);
    font-size: 18px;
    margin-top: 15px;
    text-align: justify;
}
.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.project-description a {
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--color-white);
    text-decoration: none;
}
.project-description a:hover {
    color: var(--color-complementary);
}

.project-description:hover {
    opacity: 1;
}

/* CONTACT SECTION */
.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0, .1);
    margin: 95px auto 150px;
    background-color: var(--color-primary);
    font-family: 'Open Sans', sans-serif;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 15px;
    flex-wrap: wrap;
}
.contact-info p {
    display: flex;
    align-items: center;
}
.contact-info a {
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
}
.contact-info a:hover {
    color: var(--color-complementary);
}

.contact-icon {
    cursor: default;
    font-size: 30px;
    color: var(--color-white);
}

/* FOOTER */
footer {
    flex-direction: column;
}

footer p {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: var(--color-white);
}

/* MEDIA QUERIES */
/* Mobile Style */
@media only screen and (max-width: 400px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .profile-pic img {
        height: 300px;
        width: 300px;
    }
    .profile-text {
        width: 300px;
    }
}

/* Tablet Style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .profile-pic img {
        height: 400px;
        width: 400px;
    }
    .profile-text {
        width: 400px;
    }
}

/* Desktop Style */
@media only screen and (min-width: 961px) {
    nav,
    .profile-container {
        width: 960px;
    }
}